@import "_variables";
@import "_extend";
@import "_mixin";
@import "_fonts";

*
{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#catalog-body
{

    background: top no-repeat url('./../img/catalog-bg.jpg');
    background-size: contain;
}
.burger-controll
{
    button
    {
        z-index: 99;
        position: fixed;
        font-size: 36px;
        right: 5px;
        top: 5px;
        border: none;
        background: transparent;
        z-index: 99;
        &:focus
        {
            outline: none;
            box-shadow: none;
        }
    }
    
}

#main-header
{
    position: fixed;
    top:0px;
    bottom: 0px;
    right: 0px;
    @media screen and (max-width : 567px) 
    {
        z-index: -1;
    }
    &.show
    {
        z-index: 1;
    }
    .navigation-contacts
    {
        margin-right: 50px;
        @media screen and (max-width : 567px) {
            margin-left: 50px;
            margin-right: 0;
        }
        a
        {
            text-decoration: none;
            color: #000;

        }
    }
    ul
    {
        a
        {
            font-family: 'Puritan', sans-serif;

        }
        .nav-item
        {
            font-size: 18px;
            align-items: center;
            display: flex;
            @media screen and (max-width : 567px)
            {
                flex-direction: row-reverse;
            }
            .marker
            {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid transparent;
                transition: border .3s linear, color .3s linear;
                &-inner
                {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: $light-gray;
                }
            }
            .nav-link
            {
                &.active  ~ .marker
                {
                    border: 2px solid #000;
                    .marker-inner
                    {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: #000;
                    }
                }
                &:hover
                {
                    
                    &~.marker
                    {
                        border: 2px solid $light-gray;
                    }
                }
            }
            
        }
        position: relative;
        &::after
        {
            position: absolute;
            content: '';
            height: 200vh;
            width: 2px;
            top: -200%;
            right: 9px;
            @media screen and (max-width : 576px){
                right: 183px;
            }
            background: $light-gray;
            z-index: -1;
        }
    }
    nav
    {
        margin: 0;
        padding: 20px;
        transition: transform .3s ease-in-out , backdrop-filter .3s .15s ease-out;
        @media screen and (max-width : 567px) {
            transform: translateX(100%);
            backdrop-filter: blur(10px);
        }
        &.show
        {
            transform: translateX(0);
            z-index: 8;
            @media screen and (max-width : 567px) 
            {
            }
        }
    }
    
    
}

#catalog-header
{
    a
    {
        color: #000;
        text-decoration: none;
        transition: color .15s ease, background .15s ease ;
        
        &:hover
        {
            color:$light-blue;
        }
    }
    ul
    {
        .nav-item
        {
            img
            {
                transition: filter .3s linear;
            }
            transition: font-weight .3s linear;
            &:hover
            {
                img
                {
                    filter: brightness(0);
                }
                a
                {
                    color: #000;
                }
            }
            a
            {
                transition: color .3s ease-in-out;
                color: $light-dark;
            }
            &.active
            {
                font-weight: 600;
                img
                {
                    filter: brightness(0);
                }
                a
                {
                    color: #000;
                }
            }
            
        }
        
    }
    // .slick-list
    // {
    //     display: flex;
    //     justify-content: space-around;
    //     width: 100%;
    // }
}
.h-md-100
{
    height: 100%;
    @media screen and (max-width : 567px){
        height: auto;
    }
}
.section-header
{
    font-weight: 700;
    font-size: 75px;
    @media screen and (max-width : 576px)
    {
        font-size: 42px;
    }
}
.dark-btn
{
    font-size: 18px;
    padding: 8px 30px;
    border-radius: 2px;
    border: solid 2px #000;
    width: fit-content;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: color .15s ease-in , background .15s ease-in , border .05s ease-in-out !important;
    &-square
    {
        padding: 0 10px;
        font-size: 40px;
        line-height: 40px;
        border-radius: 3px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-light-border
    {
        border: solid 1px $light-gray;
        background: transparent;
        font-weight: 400;
        width: 60px;
        height: 60px;
    }
    &:hover
    {
        border: 2px solid $light-blue;
        background: $light-blue;
        color: #fff !important;
    }
    @media screen  and (max-width : 768px)
    {
        border: 2px solid $light-blue;
        background: $light-blue;
        color: #fff !important;
    }
}
html
{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar
{
    display: none;
}
#floating-logo
{
    position: fixed;
    top:10px;
    left: 10%;
}
.left-blue-border
{
    border-left: 8px solid $light-blue;
    padding-left: 20px;
    &-thick
    {
        border-left: 4px solid $light-blue;
        font-size: 18px;
    }
}
span.acent
{
    color: $light-blue;
    font-size: 18px;
}
.vr-right
{
    height: 100%;
    border-right: 3px solid $light-gray;    
    @media screen and (max-width : 768px)
    {
        border: none;
    }
}
.service-card
{
    &-title
    {
        font-size: 18px;
        font-weight: 500;
    }
    &-marker
    {
        margin: 15px 0;
        height: 10px;
        width: 40px;
        border-radius: 2px;
        background: $light-blue;
    }
    &-body
    {
        font-size: 14px;
        b
        {
            font-weight: 600;
        }
        span
        {
            font-weight: 300;
            color: $light-gray;
            margin: 8px 0;
        }
    }
}
.slick-list
{
    @media screen and(max-width : 768px)
    {
        z-index: -1 !important;
    }
}
a[data-action="open-form"]
{
    opacity: 0%;
    transition: opacity 1s ease-in-out;
    &.show
    {
        opacity: 100%;
    }
}
.catalog-form
{
    display: none;
    .input-block
    {
        margin: 15px 0;
        input
        {
            width: 100%;
            font-size: 24px;
        }
    }
    button
    {
        width: 100%;
        padding: 10px;
        font-size: 18px;
        background: $light-blue;
        border: none;

        color: #fff;
        &.gray-bg
        {
            background: $gray-btn-bg;
        }
        &:focus
        {
            outline: none;
        }
    }
    
}
.slick-next:before, 
.slick-prev:before 
{
    color: #000 !important;
}
.catalog-item
{
    border-bottom: 2px solid $light-dark;
    &-header
    {
        font-weight: 700;
        font-size: 36px;
    }
    &-description
    {
        span
        {
            font-size: 14px;
            color: $light-gray;
        }
    }
}
.slick-slide:focus
{
    outline: none !important;
}
.slider-controls
{
    z-index: 9999;
}
.hr
{
    margin: 2px 0;
    opacity: 1;
    position: relative;
    width: 100%;
    height: 2px;
    background: $light-dark;
    &::before,
    &::after
    {
        content: '';
        position: absolute;
        width: 6px;
        height: 5px;
        background: $light-dark;
        z-index: 9;
        top: 50%;
        transform: translateY(-50%);
    }
    &::before
    {
        left: 0;
    }
    &::after
    {
        right: 0;
    }
}

form
{
    input
    {
        border: none;
        font-size: 14px;
        color: #000;
        &:focus
        {
            outline: none;
        }
        background: transparent;
        &::placeholder
        {
            color: $light-gray;
        }
    }
}
main
{
    section
    {
        min-height: 100vh;
        @media screen and (max-width : 768px)
        {
            height: auto;
        }
        &#first-screen
        {
            p
            {
                font-size: 18px;
            }
            
            background-size: cover;
            @media screen and (max-width : 768px)
            {
                background: bottom/100% no-repeat url('./../img/first-screen-2.png'),  120% 100%/80% no-repeat url('./../img/first-screen-1.png'), center/350% no-repeat url('./../img/first-screen-3.jpg') ;
            }
            background: bottom/100% no-repeat url('./../img/first-screen-2.png'),  75%/80% no-repeat url('./../img/first-screen-1.png'), center/110% no-repeat url('./../img/first-screen-3.jpg') ;
        }
        &#service
        {
            background-size: cover;
            background: bottom/100% no-repeat url('./../img/service-bg-2.jpg'),  top/100% no-repeat url('./../img/service-bg-1.jpg');
            @media screen and (max-width : 768px)
            {
                background: none;
            }
            
        }
        &#about
        {
            background-size: cover;
            background: bottom/100% no-repeat url('./../img/service-bg-2.jpg'),  top/100% no-repeat url('./../img/about-bg-1.jpg');
            @media screen and (max-width : 768px)
            {
                background: none;
            }
        }
        &#rent
        {
            background-size: cover;
            background: bottom/100% no-repeat url('./../img/service-bg-2.jpg'),  top/100% no-repeat url('./../img/rent-bg-1.jpg');
            @media screen and (max-width : 768px)
            {
                background: none;
            }
            
            .rent-slider
            {
                &-body
                {
                    .name
                    {
                        font-size: 36px;
                        font-weight: 700;
                    }
                }
            }
        }
        &#projects
        {
            background-size: cover;
            background: bottom/100% no-repeat url('./../img/service-bg-2.jpg'),  top/100% no-repeat url('./../img/projects-bg-1.jpg');
            @media screen and (max-width : 768px)
            {
                background: none;
            }
            .date
            {
                writing-mode: vertical-lr;
                transform: scale(-1);
                text-align: end;
            }
        }
        &#contacts
        {
            
        }
        &#contacts
        {
            .contact-card
            {
                &-title
                {
                    font-size: 18px;
                    font-weight: 400;
                }
                &-text
                {
                    a
                    {
                        color: #000;
                        text-decoration: none;
                        transition: color .15s ease-in-out;
                        &:hover
                        {
                            color: $light-blue;
                        }
                    }
                }
            }
        }
    }
}
footer
{
    border-bottom: 40px solid $yellow;
}